<h1>New Message</h1>


<%= form_with model: @message do |form| %>
  <div>
    <%= form.label :chat_id, "Chat" %>
    <%= form.select :chat_id, Chat.all.collect { |c| ["Chat ##{c.id}", c.id] }, prompt: "Select chat" %>
  </div>

  <div>
    <%= form.label :sender_id, "Sender" %>
    <%= form.select :sender_id, User.all.collect { |u| [u.email, u.id] }, prompt: "Select author" %>
  </div>

  <div>
    <%= form.label :body, "Message" %>
    <%= form.text_area :body %>
  </div>

  <%= form.submit "Send Message" %>
<% end %>