<div class = "mt-3 container ms-4">
    <h1>Message <%= @message.id %> Details</h1>
</div>



<div class = "container ms-4 col-6">
    <table class = "table table-bordered ">
        <tr>
            <th>Chat ID</th>
            <td><%= @message.chat_id %></td>
        </tr>
        <tr>
            <th>User ID</th>
            <td><%= @message.user_id %></td>
        </tr>
        <tr>
            <th>User</th>
            <td><%= @message.user.first_name%></td>
        </tr>

        <tr>
            <th>Body</th>
            <td><%= @message.body%></td>
        </tr>

    </table>

    <br>
    <div class = "actions">
        <%= link_to "Edit Message", edit_message_path(@message), class: "btn btn-primary" %>
        <%= link_to "Back to Messages", messages_path, class: "btn btn-secondary" %>
    </div>
</div>
