<div class = "mt-3container ms-4">
    <h1>User <%= @user.id %> Details</h1>
</div>

<div class = "container ms-4 col-6">
    <table class = "table table-bordered ">
        <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>First Name</th>
            <td><%= @user.first_name %></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><%= @user.last_name%></td>
        </tr>
        <tr>
            <th>Created At</th>
            <td><%= @user.created_at %></td>
        </tr>
        <tr>
            <th>Updated At</th>
            <td><%= @user.updated_at %></td>
        </tr>
    </table>
    <br>


    <h3>Participates in:</h3>
    <ul>
        <% (@user.sent_chats + @user.received_chats).uniq.each do |chat| %>
        <li>
            Chat <%= chat.id %>
        </li>
        <% end %>
    </ul>


 <h3>Messages Sent</h3>
  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Chat ID</th>
        <th>Body</th>
      </tr>

    </thead>

    <tbody>

      <% @user.messages.each do |message| %>
        <tr>
          <td><%= message.chat_id %></td>
          <td><%= message.body %></td>
        </tr>

      <% end %>

    </tbody>
  </table>

    <div class = "actions">
        <%= link_to "Edit user", edit_user_path(@user), class: "btn btn-primary" %>
        <%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>
    </div>
</div>
