<div class = "mt-3 container ms-4">
    <h1>User <%= @user.id %> Details</h1>
</div>

<div class = "container ms-4 col-6">
    <table class = "table table-bordered ">
        <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>First Name</th>
            <td><%= @user.first_name %></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><%= @user.last_name%></td>
        </tr>
        <tr>
            <th>Created At</th>
            <td><%= @user.created_at %></td>
        </tr>
        <tr>
            <th>Updated At</th>
            <td><%= @user.updated_at %></td>
        </tr>
    </table>
    <br>

    <div class = "actions">
        <%= link_to "Edit user", edit_user_path(@user), class: "btn btn-primary" %>
        <%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>
    </div>
</div>
