<h1>New Chat</h1>

<%= form_with model: @chat do |form| %>
  <div>
    <%= form.label :sender_id, "Sender" %>
    <%= form.select :sender_id, User.all.collect { |u| [u.email, u.id] }, prompt: "Select sender" %>
  </div>

  <div>
    <%= form.label :receiver_id, "Receiver" %>
    <%= form.select :receiver_id, User.all.collect { |u| [u.email, u.id] }, prompt: "Select receiver" %>
  </div>

  <%= form.submit "Create Chat" %>
<% end %>