<div class="mt-3 container ms-4">
  <h1>Chat <%= @chat.id %> Details</h1>
</div>

<div class="container ms-4 col-6">
  <table class="table table-bordered">

    <tr>
      <th>Sender Mail</th>
      <td><%= @chat.sender.email %> (ID: <%= @chat.sender_id %>)</td>
    </tr>

    <tr>
      <th>Sender Name</th>
      <td><%= @chat.sender.first_name + " " + @chat.sender.last_name %></td>
    </tr>

    <tr>
      <th>Receiver Mail</th>
      <td><%= @chat.receiver.email %> (ID: <%= @chat.sender_id %>)</td>
    </tr>

    <tr>
      <th>Receiver Name</th>
      <td><%= @chat.receiver.first_name + " " + @chat.receiver.last_name%></td>
    </tr>

    <tr>
      <th>Created At</th>
      <td><%= @chat.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @chat.updated_at %></td>
    </tr>
  </table>

  <br>

  <h3>Messages in this Chat</h3>
  <ul>
    <% @chat.messages.each do |message| %>
      <li>
        <strong><%= message.user.email %>:</strong> <%= message.body %>
      </li>
    <% end %>
  </ul>

  <div class="actions">
  
    <%= link_to "Edit Chat", edit_chat_path(@chat), class: "btn btn-primary" %>
    <%= link_to "Back to Chats", chats_path, class: "btn btn-secondary ms-2" %>
  </div>
</div>
